{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/coffee-shop.jpg')"
>
  <div style="padding-bottom: 185px;" class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div style='color:Salmon' class="site-heading">
          <span class="subheading">Welcome to </span>
          <h1>CoffeeTrivia</h1>
          <span class="subheading">Land Of Coffee!</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% include "footer.html" %}
