{% include "header.html" %}

  <header
  class="masthead"
  style="background-image: url('../static/assets/img/coffeess.jpg')"
>
  <div style="padding-bottom: 5px;" class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div style='color:Salmon' class="site-heading">
          <h2>OurCoffeeShops</h2>
          <span class="subheading">Love is the key for magic coffee!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
  <div class="b-example-divider"></div>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 style="color:#6F4E37 ; font-weight: 800;" class="post-title">{{ post.name }} </h2>
          <h3 style="color:#6F4E37; font-weight: 600;" class="post-subtitle">In the City of {{post.location}}</h3>
        </a>
        <p style="color:black ; font-weight: 600;" class="post-meta">
          Coffe Costs:
          <a style="color:black" href="#">{{post.coffee_price}}</a>
          <a style="color:#6F4E37" href="{{ url_for('delete_post', post_id=post.id) }}">✘</a>
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      <!-- New Post -->
      <div class="d-flex justify-content-end mb-4">
      <!-- TODO: Adding new posts -->
        <a
          class="btn float-right"
          href="{{ url_for('add_new_post') }}"
          >Create New Post</a
        >
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
